{% extends '../layouts/default.twig' %}
{% set head_title = 'Gulp HTML Template' %}

{% block content %}
  {{ parent() }}
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam animi
          dolor saepe! Minima assumenda, ipsam fugit aspernatur earum
          repudiandae adipisci accusantium quidem nostrum placeat eligendi
          rerum, aperiam suscipit deleniti reiciendis.
        </p>
      </div>
      <div class="col-12 col-lg-6">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
          molestias inventore accusamus iste, eius perferendis sint ea non totam
          facere voluptatum, deserunt, error qui illo quod nesciunt vitae beatae
          nam.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
