.in-white {
  color: white !important;
}
.in-dark {
  color: color(secondary-1000) !important;
}
.in-black {
  color: color(secondary-900) !important;
}
.in-secondary {
  color: color(secondary-800) !important;
}
.in-disabled {
  color: color(secondary-100) !important;
}
.in-primary {
  color: color(primary-1000) !important;
}
.in-primary-800 {
  color: color(primary-800) !important;
}
.in-red {
  color: color(red-1000) !important;
}
.bg-white {
  background-color: white !important;
}
.bg-secondary {
  background-color: color(secondary-50) !important;
}
