$colors: (
  // Secondary
  secondary-1000: #13284c,
  secondary-900: #586a86,
  secondary-800: #a3acbd,
  secondary-400: #f6f9ff,
  secondary-300: #cfd9e3,
  secondary-200: #dce2ec,
  secondary-100: #ecf1f8,
  secondary-50: #f9fafc,
  // Primary
  primary-pressed: #294bb0,
  primary-hover: #0758cc,
  primary-1000: #0e63dc,
  primary-800: #1b77ff,
  primary-300: #c8d4f9,
  primary-200: #d2dcfa,
  primary-100: #e6ebfa,
  // Green
  green-accent: #0bb07b,
  green-1000: #36c697,
  green-800: #92eccf,
  green-200: #cff8eb,
  green-100: #eafcf7,
  // Yellow
  yellow-accent: #ff8f00,
  yellow-1000: #ffbb38,
  yellow-800: #ffecc7,
  yellow-200: #fff6e4,
  yellow-100: #fffcf5,
  // Red
  red-pressed: #fbbfbf,
  red-hover: #facaca,
  red-1000: #ff5657,
  red-800: #fd9c9c,
  red-200: #fadada,
  red-100: #fae9e9,
  // Accent
  accent-1000: #19ac4e,
  accent-800: #1fd264,
  accent-300: #7eec9a,
  accent-100: #72f6b7,
  // Special
  white-50: rgb(#fff, 0.5),
  white-80: rgb(#fff, 0.8),
  bg-color: #f8f9fb
);
