.text-small {
  font-size: 1rem !important;
  line-height: calc(16 / 10) !important;
}
.text-caption {
  font-size: 1.2rem !important;
  line-height: calc(16 / 12) !important;
}
.text-body {
  font-size: 1.4rem !important;
  line-height: calc(20 / 14) !important;
}
.text-subheader {
  font-size: 1.6rem !important;
  line-height: calc(24 / 16) !important;
}
.text-subheader-big {
  font-size: 1.8rem !important;
  line-height: calc(24 / 18) !important;
}
.text-title {
  font-size: 2rem !important;
  line-height: calc(32 / 20) !important;
}
.text-headline {
  font-size: 2.4rem !important;
  line-height: calc(36 / 24) !important;
}
.text-display {
  font-size: 3.6rem !important;
  line-height: calc(48 / 36) !important;
}
.text-jumbo {
  font-size: 4.8rem !important;
  line-height: calc(64 / 48) !important;
}
.text-mega {
  font-size: 7.2rem !important;
  line-height: calc(96 / 72) !important;
}
